.navWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5vh;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #555;
}

.appName {
  margin: 0 1em 0 0;
  font-weight: 400;
}
