.modal {
  /* display: none; */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
  background-color: #282c34;
  margin: 15% auto;
  border: 1px solid #555;
  color: #fafafa;
  border-radius: 6px;
  width: 30%;
}
.noMargin {
  margin: 0;
}
.todoModalHeader,
.updateModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #666;
}
.todoModalBody,
.updateModalBody {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 1em;
  margin: auto;
}
.todoBodyContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todoModalFooter,
.updateModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-top: 1px solid #666;
}
.close {
  cursor: pointer;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0;
}
.myInput {
  background-color: #282c34;
  color: #fafafa;
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 6px;
  border: 1px solid #666
}
.inputLabel {
  background-color: #282c34;
  color: #fafafa;
  font-size: 15px;
}
.badInput {
	border-color: #ff4c4c;
}