.registerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  /* font-size: calc(10px + 2vmin); */
}

.myInput {
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 6px;
}

.w300px {
	width: 300px; 
}

.w330px {
	width: 330px; 
}