.todosBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  /* font-size: calc(10px + 2vmin); */
}
.tableControls {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.overviewWrap {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3em;
}
.todoTable {
  width: 80%;
  border: none;
}
.tableHead {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: fit-content
}
.sortBtn {
	position: absolute;
	right: 0;
}