body {
  margin: 0;
  background-color: #282c34;
  min-height: 95vh;
  color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  text-decoration: underline;
  color: dodgerblue;
}
th {
  padding: 1em 0.5em;
  text-align: left;
  cursor: pointer;
}
tbody tr:nth-child(odd) {
  background-color: #365e86;
  color: #fff;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  cursor: pointer;
  background-color: #6587a8;
}
.lastTH,
table td:last-child,
table th:last-child {
  text-align: right;
}
/* table td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
td {
  text-align: left;
  padding: 0.75em;
}
.appBigName {
	font-size: 70px;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.normalFontWeight {
  font-weight: normal;
}
.myBtn,
.sortSelect {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 6px;
  border-color: rgb(75, 71, 85);
  cursor: pointer;
}
.greenBtn {
  background-color: rgb(180, 255, 180);
  border-color: green;
}
.badNotify {
  color: #e93d3d;
}
.mt-1 {
  margin-top: 1em;
}
.mt-05 {
  margin-top: 0.5em;
}
.fullWidth {
  width: 100%;
}
